#EMU libs

[ui]
LoadCtrlLibs = "CMS_CSC_common/emucdb_common.ctl"
LoadCtrlLibs = "CMS_CSC_common/emucdb_customHwCreate.ctl"
LoadCtrlLibs = "CMS_CSC_common/emucdb_fsm.ctl"
LoadCtrlLibs = "CMS_CSC_common/emu_common.ctl"
LoadCtrlLibs = "CMS_CSC_common/fwFsm_importSmi.ctl"
LoadCtrlLibs = "CMS_CSC_common/emucdb_math.ctl"

[ctrl]
LoadCtrlLibs = "CMS_CSC_common/emucdb_common.ctl"
LoadCtrlLibs = "CMS_CSC_common/emucdb_customHwCreate.ctl"
LoadCtrlLibs = "CMS_CSC_common/emucdb_fsm.ctl"
LoadCtrlLibs = "CMS_CSC_common/emu_common.ctl"
LoadCtrlLibs = "CMS_CSC_common/fwFsm_importSmi.ctl"
LoadCtrlLibs = "CMS_CSC_common/emucdb_math.ctl"
