#EMU libs

[ui]
LoadCtrlLibs = "emu/emucdb_common.ctl"
LoadCtrlLibs = "emu/emucdb_customHwCreate.ctl"
LoadCtrlLibs = "emu/emucdb_fsm.ctl"
LoadCtrlLibs = "emu/emu_common.ctl"
LoadCtrlLibs = "emu/fwFsm_importSmi.ctl"

[ctrl]
LoadCtrlLibs = "emu/emucdb_common.ctl"
LoadCtrlLibs = "emu/emucdb_customHwCreate.ctl"
LoadCtrlLibs = "emu/emucdb_fsm.ctl"
LoadCtrlLibs = "emu/emu_common.ctl"
LoadCtrlLibs = "emu/fwFsm_importSmi.ctl"
