.warning { color:#dddd11; background-color:#222222; }
.footer { text-align:center; font-size:70%; width:100%; }
span.header { position:fixed; float:center; width:99%; background-color:#eeee22; opacity:0.8; }
span.title, div.title { font-size:150%; font-weight:bold; }
span.navbar span { text-align:left; font-weight:bold; }
span.space { visibility:hidden; width:100%; }
span.header table { width:100%; }
table.progress { width:99%; background-color:#ffffff; border-collapse:separate; }
table.progress th, table.progress td  { background-color:#eeeeee; }
td.progress { width:100%; }
table.Xcept { background-color:#555555; border-collapse:separate; }
table.Xcept th, table.Xcept td  { color:#eeeeee; background-color:#222222; }
table.Xcept td.message { color:#dddd11; }
div.progressbox { width:100%; height:15px; background-color:#dddd11; }
div.progressbar { height:15px; background-color:#557722; }
