[ui]
# EMU_UI stuff
LoadCtrlLibs = "CMS_CSC_UI/emuui_main.ctl"
LoadCtrlLibs = "CMS_CSC_UI/emuui_configuration.ctl"
LoadCtrlLibs = "CMS_CSC_UI/emuui_sessionManager.ctl"
LoadCtrlLibs = "CMS_CSC_UI/emuui_gradient.ctl"
LoadCtrlLibs = "CMS_CSC_UI/emuui_utils.ctl"
LoadCtrlLibs = "CMS_CSC_UI/emuui_contextMenu.ctl"
LoadCtrlLibs = "CMS_CSC_UI/emuui_deviceInfo.ctl"
LoadCtrlLibs = "CMS_CSC_UI/emuui_graphics.ctl"
