[ui]
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs2.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs3.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs4.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuAlert.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcsDim.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emufw.ctl"
[ctrl]
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs2.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs3.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcs4.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuAlert.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emuDcsDim.ctl"
LoadCtrlLibs = "CMS_CSCfw_HV_CC/emufw.ctl"