html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#top {
/*    position: relative; */
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position:absolute;
    bottom:0px;
    width:100%;
    height:20px;   /* Height of the footer */
    background-color: #c2dfef;
    padding: 5px 0px 5px 0px;
}

#left {
    float: left;
    /*background-color: #ece3a5;*/
    /*width: 150px;*/
    padding: 5px;
    padding-bottom:20px;   /* Height of the footer */
    font-size: 10px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    padding-bottom:25px;   /* Height of the footer */
    margin-left: 175px;
    margin-right: 10px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#top h1 {
  color: white;
  font-weight : bold;
  text-decoration: none;
}
