<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="CdwPU" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>jdbc/devdb10</jta-data-source>
    <class>org.cern.cms.csc.dw.model.CumulativeTmbTriggerCounterFactType</class>
    <class>org.cern.cms.csc.dw.model.FactCollectionType</class>
    <class>org.cern.cms.csc.dw.model.FactCollectionType$FactCollectionTypeFactItem</class>
    <class>org.cern.cms.csc.dw.model.FactType</class>
    <class>org.cern.cms.csc.dw.model.SlidingTmbTriggerCounterFactType</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
