<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="CdwWSPU" transaction-type="JTA">
    <jta-data-source>jdbc/devdb10</jta-data-source>
    <class>org.cern.cms.csc.cdw.model.BaseUnit</class>
    <class>org.cern.cms.csc.cdw.model.Domain</class>
    <class>org.cern.cms.csc.cdw.model.ParamValue</class>
    <class>org.cern.cms.csc.cdw.model.Parameter</class>
    <class>org.cern.cms.csc.cdw.model.Severity</class>
    <class>org.cern.cms.csc.cdw.model.Source</class>
    <class>org.cern.cms.csc.cdw.model.Unit</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
